.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 60px;
}

.nav-items {
  padding-right: 50px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 0px 10px;
}

.search {
  padding: 20px 0px;
}

.res-card {
  width: 200px;
  height: 400px;
  padding: 5px;
  background-color: #f0f0f0;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}
